* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #ff7300;
}
body header a {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  background-color: gray;
  box-shadow: 2px 2px 5px black;
}
body header .contbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body header .contbtn #boton1 {
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1rem;
  background: #ff7300;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
body main #contEmergente {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.733);
  width: 100%;
  height: 100vh;
}
body main #contEmergente .emergente {
  position: relative;
  background-color: black;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 4px 4px 15px #ff49f0, -2px -2px 15px #ffae00;
}
body main #contEmergente .emergente .textEmer {
  color: gray;
  text-align: center;
  margin: 5px;
  font-size: 3rem;
}
body main #contEmergente .emergente #closeEmer {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}
body .footer {
  margin-top: 30px;
  background: #ff7300;
  padding: 4rem;
}
body .footer .footerT {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
}

aside {
  width: 20%;
  margin-top: 10px;
  margin-right: 5px;
}
aside .titleAside {
  color: #969696;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}
aside #hola {
  width: 100%;
  margin: auto;
  padding: 10px;
  background: #ff7300;
  border-radius: 10px;
}
aside #hola .cardH .userT {
  color: #313131;
  margin: 5px;
}
aside #hola .cardH .userP {
  color: #484848;
  margin-left: 5px;
}

.tienda {
  width: 80%;
}
.tienda .contbtn {
  width: 100%;
  text-align: center;
}
.tienda .contbtn #btnTienda {
  cursor: pointer;
  width: 80%;
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1rem;
  background: #ff7300;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 0;
}
.tienda .conttienda {
  display: none;
}
.tienda .conttienda .contModalBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}
.tienda .conttienda .contModalBtn #modalBtn {
  border-radius: 10px;
  background: #a1a1a1;
  padding: 10px;
  border: hidden;
  cursor: pointer;
  box-shadow: 3px 3px 10px #ff49f0, -3px -3px 10px #ff49f0;
}
.tienda .conttienda #contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
}
.tienda .conttienda #contenedor .card {
  margin: 25px;
  background: #ff7300;
  border-radius: 10px;
  box-shadow: inset 2px 1px 5px white;
}
.tienda .conttienda #contenedor .card .cardBody {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
}
.tienda .conttienda #contenedor .card .cardBody .cardImg {
  margin: 10px auto;
  border-radius: 10px;
}
.tienda .conttienda #contenedor .card .cardBody .cardImg img {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #e0e0e0;
}
.tienda .conttienda #contenedor .card .cardBody .cardImg img:hover {
  box-shadow: 3px 3px 8px black;
}
.tienda .conttienda #contenedor .card .cardBody .cardText {
  font-family: "Franklin Gothic Medium";
  font-weight: 100;
  text-align: center;
  padding-bottom: 1rem;
  width: 100%;
}
.tienda .conttienda #contenedor .card .cardBody .cardText .cardTitle {
  font-size: 1.5rem;
}
.tienda .conttienda #contenedor .card .cardBody .cardText .cardSubT {
  font-size: 1rem;
}
.tienda .conttienda #contenedor .card .cardBody .cardText .cardP {
  margin-top: 10px;
  font-size: 1.2rem;
}
.tienda .conttienda #contenedor .card .cardBody .cardContBtn {
  width: 100%;
  margin: auto;
  text-align: center;
}
.tienda .conttienda #contenedor .card .cardBody .cardContBtn .btncard {
  margin: auto;
  border-radius: 5px;
  width: 80%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  color: black;
  background: rgba(116, 116, 116, 0.712);
  box-shadow: 1px 1px 2px #a5a5a5;
}

.main_SN {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
.main_SN .nosotros {
  box-shadow: 2px 2px 15px #ffae00, -2px -2px 15px #ffae00;
  border-radius: 25px;
  width: 90%;
  margin: 40px;
  padding: 10px;
}
.main_SN .nosotrosTitle {
  color: white;
  text-align: center;
  margin: 10px auto;
}
.main_SN .nosotrosText {
  width: 80%;
  margin: auto;
  color: white;
}
.main_SN .nosotros .contUbi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}
.main_SN .nosotros .contUbi .nosotrosUbi {
  width: 40%;
  margin: auto;
}
.main_SN .nosotros .contUbi .nosotrosUbi li {
  color: white;
  font-size: 1.1rem;
}
.main_SN .nosotros .contUbi img {
  width: 50%;
}
.main_SN .sesion {
  width: 20%;
}
.main_SN .sesion .formss {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.main_SN .sesion .formss #formulario {
  display: none;
  background: #ff7300;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}
.main_SN .sesion .formss #formulario input, .main_SN .sesion .formss #formulario button {
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  background: black;
  margin: auto;
}
.main_SN .sesion .formss #registrarme {
  display: none;
  background: #ff7300;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  font-size: 1.3rem;
}
.main_SN .sesion .formss #registrarme #register {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main_SN .sesion .formss #registrarme #register input {
  padding: 0.2rem;
  border-radius: 5px;
  color: white;
  background: black;
  margin: 10px;
}

#modal {
  display: none;
  box-shadow: 2px 2px 5px orange, -2px -2px 5px orange;
  width: 70%;
  border-radius: 10px;
}
#modal .modal-header {
  background-color: orange;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#modal .modal-header .modal-title {
  color: white;
  font-size: 1rem;
}
#modal .modal-header #closeBtn {
  color: #272727;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
#modal .modal-header #closeBtn:hover {
  color: black;
}
#modal .modal-body {
  width: 100%;
  margin: auto;
}
#modal .modal-body .modal-subtitle {
  color: white;
}
#modal .modal-body .contcarrito {
  margin: auto;
}
#modal .modal-body .contcarrito #carrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#modal .modal-body .contcarrito #carrito .table {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column-reverse;
  justify-content: space-around;
  text-align: center;
  padding: 0.4rem;
  border-radius: 25px;
  width: 80%;
  margin: auto;
}
#modal .modal-body .contcarrito #carrito .table .text {
  font-size: 0.8rem;
  color: #252525;
}
#modal .modal-body .contcarrito #carrito tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffae00;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px black;
}
#modal .modal-body .contcarrito #carrito tr th {
  margin: 4px;
}
#modal .modal-body .contcarrito #carrito tr .btn {
  font-size: 0.7rem;
  color: black;
  background: #a0a0a0;
  box-shadow: 1px 1px 2px #a5a5a5;
  width: 100%;
  border-radius: 50px;
  padding: 0.2rem;
  cursor: pointer;
}
#modal .modal-footer {
  background-color: orange;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
#modal .modal-footer #botonFinalizar {
  background: steelblue;
  margin: auto;
  border: hidden;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
