* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #ff7300;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
body .footer {
  margin-top: 30px;
  background: #ff7300;
  padding: 4rem;
}
body .footer .footerT {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
}

aside {
  width: 100%;
  margin-top: 10px;
  margin-right: 5px;
}
aside .titleAside {
  color: #969696;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}
aside #hola {
  width: 100%;
  margin: auto;
  padding: 10px;
  background: #ff7300;
  border-radius: 10px;
}
aside #hola .cardH .userT {
  color: #313131;
  margin: 5px;
}
aside #hola .cardH .userP {
  color: #484848;
  margin-left: 5px;
}

.tienda {
  width: 80%;
}
.tienda .contbtn {
  width: 100%;
  text-align: center;
}
.tienda .contbtn #btnTienda {
  width: 80%;
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1rem;
  background: #ff7300;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 0;
}
.tienda #contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
}
.tienda #contenedor .card {
  margin: 25px;
  background: #ff7300;
  border-radius: 10px;
  box-shadow: inset 2px 1px 5px white;
}
.tienda #contenedor .card .cardBody {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
}
.tienda #contenedor .card .cardBody .cardImg {
  margin: 10px auto;
  border-radius: 10px;
}
.tienda #contenedor .card .cardBody .cardImg img {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #e0e0e0;
}
.tienda #contenedor .card .cardBody .cardImg img:hover {
  box-shadow: 3px 3px 8px black;
}
.tienda #contenedor .card .cardBody .cardText {
  font-family: "Franklin Gothic Medium";
  font-weight: 100;
  text-align: center;
  padding-bottom: 1rem;
  width: 100%;
}
.tienda #contenedor .card .cardBody .cardText .cardTitle {
  font-size: 1.5rem;
}
.tienda #contenedor .card .cardBody .cardText .cardSubT {
  font-size: 1rem;
}
.tienda #contenedor .card .cardBody .cardText .cardP {
  margin-top: 10px;
  font-size: 1.2rem;
}
.tienda #contenedor .card .cardBody .cardContBtn {
  width: 100%;
  margin: auto;
  text-align: center;
}
.tienda #contenedor .card .cardBody .cardContBtn .btncard {
  margin: auto;
  border-radius: 5px;
  width: 80%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  color: black;
  background: rgba(116, 116, 116, 0.712);
  box-shadow: 1px 1px 2px #a5a5a5;
}
.tienda #carrito {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.tienda #carrito .table {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column-reverse;
  justify-content: space-around;
  text-align: center;
  background: #ff7300;
  padding: 1rem;
  border-radius: 25px;
  width: 80%;
}
.tienda #carrito .table .text {
  font-size: 2rem;
  color: #252525;
}
.tienda #carrito .btn {
  color: #9f31c0;
  background: #4b4b4b;
  box-shadow: 1px 1px 2px #a5a5a5;
  width: 100%;
  border-radius: 50px;
  padding: 0.4rem;
  cursor: pointer;
}

.sesion {
  width: 20%;
}
.sesion .contbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sesion .contbtn #boton1 {
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1rem;
  background: #ff7300;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0;
}
.sesion .formss {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.sesion .formss #formulario {
  display: none;
  background: #ff7300;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}
.sesion .formss #formulario input, .sesion .formss #formulario button {
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  background: black;
  margin: auto;
}
.sesion .formss #registrarme {
  display: none;
  background: #ff7300;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  font-size: 1.3rem;
}
.sesion .formss #registrarme #register {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sesion .formss #registrarme #register input {
  padding: 0.2rem;
  border-radius: 5px;
  color: white;
  background: black;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
