*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: rgb(255, 115, 0);
    }
    main{
        width: 100%;
        
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
}


