
#modal{
    display: none;
    box-shadow: 2px 2px 5px orange, -2px -2px 5px orange;
    width: 70%;
    border-radius: 10px;
    .modal-header{
        background-color: orange;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .modal-title{
            color: white;
            font-size: 1rem;
        }
        #closeBtn{
            color: rgb(39, 39, 39);
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                color:black;
            }
        }
    }
    .modal-body{
        
        width: 100%;
        margin: auto;

        .modal-subtitle{
            color: white;
        }
        .contcarrito{
            margin: auto;
            #carrito{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .table{
                    display:flex;
                    font-size: 0.8rem;
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    text-align: center;
                    
                    padding: 0.4rem;
                    border-radius: 25px;
                    width: 80%;
                    margin: auto;;
                    .text{
                        
                        font-size: 0.8rem;
                        color: rgb(37, 37, 37);
                    }
                }
                tr{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgb(255, 174, 0);
                    padding: 10px;
                    margin: 10px auto;
                    border-radius: 10px;
                    box-shadow: inset 2px 2px 5px black;
                    th{
                        margin: 4px;
                    }
                    .btn{
                        font-size: 0.7rem;
                        color: rgb(0, 0, 0);
                        background:rgb(160, 160, 160);
                        box-shadow: 1px 1px 2px rgb(165, 165, 165);
                        width: 100%;
                        border-radius: 50px;
                        padding: 0.2rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .modal-footer{
        background-color: orange;
        border-radius: 0px 0px 10px 10px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        #botonFinalizar{
            background: steelblue;
            margin: auto;
            border: hidden;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px black;
            cursor: pointer;
        }
    }
}