.sesion{
    width: 50%;
    
    
    #boton1{
        position: relative;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 15px ;
        font-size: 1rem;
        background: rgb(255, 115, 0);
        font-style:italic;
        font-weight: bold;
        margin: 10px 0;
    }
    .formss{
        border: solid 2px black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        #formulario{
            display: none;
            background: rgb(255, 115, 0);
            font-size: 1.5rem;
            padding: 1rem;
            border-radius: 10px 10px 0 0;
            input,button{
                padding: 0.3rem;
                border-radius: 5px;
                color: white;
                background: black;
                margin: auto;
            }

        }        
        #registrarme{
            display: none;
            background: rgb(255, 115, 0);
            padding: 1rem;
            border-radius: 0 0 10px 10px;
            font-size: 1.3rem;
            #register{
                display: flex;
                flex-direction: column;
                align-items: start;
                input{
                    padding: 0.2rem;
                    border-radius: 5px;
                    color: white;
                    background: black;
                    margin: 10px;
                }
            }
        }
    }
    
}